/********************* Start Content CSS *****************/

/**********Top message for all sub pages****************/
/** Under top picture, blue background, white, large words**/
#top-message{
    text-align: center;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size: 35px;
    padding: 15px;
    color: white;
    background-color: #152350;
    margin-bottom: 10px;
}

#load-fixedS-image{
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

/**white background, blue words, no border, small margins**/
.info-basic-message{
    text-align: center;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size:24px;
    padding: 10px;
    color:#152350;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
}

/**blue background, gold words, no border, small margins**/
.info-basic-main{
    text-align: left;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    padding: 10px;
    color: #ceb87b;
    background-color: #152350;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.contact-types{
    padding: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    background-color: #152350;
    text-align: left;
    border-radius: 0px;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    color: white;
}

.button {
  display: inline-block;
  border-radius: 15px;
  background-color: #FFFFFF;
  border: 2px solid #152350;
  color: #152350;
  text-align: center;
  font-size: 22px;
  padding: 5px;
  width: 350px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 0px;
  margin-top: 5px;
}

.button:hover {
  background-color: #152350;
  color:white;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
  color:#152350;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
  color:white;
}

.button:hover span {
  padding-right: 25px;
  color:white;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  color:white;
}

.spaced{
    margin:15px;
}