/********************* Start Content CSS *****************/

/**********Top message for all sub pages****************/
/** Under top picture, blue background, white, large words**/
#top-message{
    text-align: center;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size: 35px;
    padding: 15px;
    color: white;
    background-color: #152350;
    margin-bottom: 10px;
}

#load-fixedS-image{
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

/**blue background, white words small margins**/
.info-message-sm{
    text-align: center;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size:30px;
    padding: 10px;
    color:white;
    background-color: #152350;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

/**white background, blue words, no border, small margins**/
.info-basic-message{
    text-align: center;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size:24px;
    padding: 10px;
    color:#152350;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
}

