
/********************* Start Contact Us CSS *****************/
#contact-us-header{
    text-align: center;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    margin: 20px;
    font-size: 30px;
    padding: 5px;
    color: white;
}

.divider{
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.message{
    margin: 20px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    color: white;
}

.message2{
    padding: 5px;
    text-align: center;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    color: white;
}

.message3{
    padding: 7px;
    text-align: center;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    background-color: white;
    color: #152350;
}

.content-box{
    padding: 10px;
    margin: 20px;
    background-color: #ceb87b;
    border-radius: 6px;
}

.contact-types{
    padding: 15px;
    padding-bottom: 0;
    margin: 20px;
    background-color: #ceb87b;
    text-align: center;
    border-radius: 6px;
}


#map-wrapper{
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
}

#map{
    height: 350px;
    width: 100%;
}

.spread{
    margin-top: 20px;
}

.collage-img{
    margin: 5px;
    margin-left:0;
    margin-right:0;
    width: 100%;
    border-radius: 6px;
}


#load-fixedS-image{
    display:block;
    margin-bottom: 5px;
}

/********************* End Contact Us CSS *****************/
