body{
    background-color: white;
}

/******************* Start Frame CSS ********************/

#banner{
    background-color: #152350;
    width: 100%;
    height: 50px;
    white-space: nowrap;
}


#pitt-icon-wrapper{
    text-align: right;
    padding-right: 15px;
    width: 10%;
}

#pitt-icon{
    height: 60px;
    width: 60px;
    padding:0.25em;
}


#pitt-name-wrapper{
    font-size: 20px;
    width: 20%;
    min-width: 200px;
}

#pitt-name{
    color: #ceb87b; 
    font-family: Times New Roman;
}


#af-icon-wrapper{
    text-align: center;
    min-width: 200px;
    width: 40%
}

#af-icon{
    height: 55px;
    width: 60px;
    padding: 0.25em;
}


#rotc-title-wrapper{
    text-align: right;
    width: 30%;
}

#rotc-title{
    font-family: Times New Roman;
    font-size: 25px;
    color: #ceb87b;
    padding-right: 50px;
}

.nav-buttons{
    transition: height 1s, line-height 1s;
    color: #152350;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border-left: 1px solid #ceb87b;
    height: 20px;
    line-height: 8px;
}

.nav-buttons-scrolling{
    transition: height 1s, line-height 1s;
    color: white;
    height: 30px;
    line-height: 15px;
    border-left: 1px solid #ceb87b;
}

.nav-adjustments{
    transition: 1s;
    border-bottom: 3px solid #ceb87b;
    border-top: 3px solid #ceb87b;
    padding: 5px;
    background-color: white;
}

.nav-scrolling{
    transition: 1s;
    border-top: none;
    background-color: #152350;
}


/************************ End Frame CSS ******************/

/********************* Start Content CSS *****************/
#welcome-message{
    text-align: center;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size: 35px;
    padding: 20px;
    color: white;
    background-color: #152350;
}

#top-message{
    text-align: center;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size: 35px;
    padding: 15px;
    color: white;
    background-color: #152350;
    margin-bottom: 10px;
    border: 2px solid #ceb87b;
}

#load-image{
    border: 2px solid #ceb87b;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#load-fixedS-image{
    border: 2px solid #ceb87b;
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.info-message{
    border: 2px solid #ceb87b;
    text-align: center;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size:30px;
    padding: 10px;
    color:white;
    background-color: #152350;
    margin-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.info-basic-message{
    text-align: center;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size:24px;
    padding: 10px;
    color:#152350;
    background-color: white;
    margin-bottom: 0px;
}

.info-main{
    border: 2px solid #ceb87b;
    text-align: left;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    padding: 10px;
    color: #ceb87b;
    background-color: #152350;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.info-basic-main{
    text-align: left;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    padding: 10px;
    color: #ceb87b;
    background-color: #152350;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

/********************* Start Contact Us CSS *****************/

.message{
    margin: 15px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    color: white;
}

.message2{
    padding: 5px;
    text-align: center;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    color: white;
}

.message3{
    padding: 5px;
    text-align: left;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    color: white;
}

.content-box{
    padding: 10px;
    margin: 15px;
    background-color: #ceb87b;
    border-radius: 6px;
}

.contact-types{
    padding: 15px;
    padding-bottom: 0;
    margin: 15px;
    background-color: #ceb87b;
    text-align: center;
    border-radius: 6px;
}

#map-wrapper{
    display: flex;
    justify-content: center;
}

#map{
    height: 300px;
    width: 100%;
    border-radius: 6px;
}

.spread{
    margin-top:15px;
}

/********************* End Contact Us CSS *****************/
