/********************* Start Content CSS *****************/

/**********Top message for all sub pages****************/
/** Under top picture, blue background, white, large words**/
#top-message{
    text-align: center;
    font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size: 35px;
    padding: 15px;
    color: white;
    background-color: #152350;
    margin-bottom: 10px;
}

#load-fixedS-image{
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

/**blue background, white words, small margins**/
.info-message-sm{
    text-align: center;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size:30px;
    padding: 10px;
    color:white;
    background-color: #152350;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

/**blue background, white words, small margins**/ /*JUST FOR BORDER*/
.info-message-sm-border{
    text-align: center;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size:30px;
    padding: 10px;
    color:white;
    background-color: #152350;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

/**white background, blue words, no border, small margins**/
.info-basic-message{
    text-align: center;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    font-size:24px;
    padding: 10px;
    color:#152350;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
}

/**blue background, gold words, no border, small margins**/
.info-basic-main{
    text-align: left;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    padding: 10px;
    color: #ceb87b;
    background-color: #152350;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.info-basic-main-white{
    text-align: left;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    padding: 10px;
    color: white;
    background-color: #ceb87b;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.contact-types{
    padding: 15px;
    padding-left: 25px;
    padding-right: 20px;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #152350;
    text-align: left;
    border-radius: 6px;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    color: white;
}

.contact-types-gold{
    padding: 15px;
    padding-left: 25px;
    padding-right: 20px;
    margin: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ceb87b;
    text-align: left;
    border-radius: 6px;
    font-family:BentonSansRegular, Helvetica, Arial, sans-serif;
    color: #152350;
}

.contact-types-gold p{
    font-size: 18px;
}

.button {
  display: inline-block;
  border-radius: 15px;
  background-color: #FFFFFF;
  border: 2px solid #152350;
  color: #152350;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 300px;
  transition: all 0.2s;
  cursor: pointer;
  display:block;
  margin: auto;
  margin-bottom: 15px;
}

.button-r {
  display: inline-block;
  border-radius: 15px;
  background-color: #152350;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  /*width: 250px;*/
  transition: all 0.2s;
  cursor: pointer;
  display:block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}

.button:hover {
  background-color: #152350;
  color:white;
}

.button-r:hover {
  background-color: #FFFFFF;
  color:#152350
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
  color:#152350;
}

.button-r span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
  color:#FFFFFF;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
  color:white;
}

.button-r span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
  color:#152350;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
  color:white;
}

.button-r span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
  color:#152350;
}

.button:hover span {
  padding-right: 25px;
  color:white;
}

.button-r:hover span {
  padding-right: 25px;
  color:#152350;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  color:white;
}

.button-r:hover span:after {
  opacity: 1;
  right: 0;
  color:#152350;
}